/*.fundo{
    background: url(/fundo1.jpg);
    background-position: center;
    background-size: cover;
    height: 789px;
    display: flex;
    justify-content: space-between;
    color: rgb(148, 0, 0);  
    
}*/

.titulo  {
    text-align: center;
}

.form{
    background: rgba(0, 0, 0, 0.082);
    border: 2px solid rgb(22, 22, 22);
    border-radius: 5px;
    height: 500px;
    width: 550px;
    /*margin-top: 100px;
    margin-left: 150px;*/
}

.back {
    
    background: rgba(22, 22, 22, 0.541);
}

.row{
    margin-left: 20px;
    margin-right: 20px;
}

.row1{
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 20px;
}

.row2{
    margin-left: 25px;
    margin-right: 25px;
}

.btn_Cadastrar{
    width: 100px;
    height: 40px;
    margin-top: 100px;
    margin-left: 20px;
    color: black;
    border: 2px solid #000000;
    background-color: #ba181b;
    font-weight: bold;
}

.btn_Cadastrar:hover{
    font-weight: bold;
    border: 2px solid rgb(22, 22, 22);
    border-radius: 5px;
    color: black;
    background-color: #8a1012;
}

.titulo{
    text-align: center;
}

.getName {
    border: 2px solid rgb(22, 22, 22);
    border-radius: 5px;
    height: 500px;
    width: 550px;
    margin-top: 100px;
    margin-right: 150px;
}

.Show{
    width: 100%;
    background: #ba181b;
}

.getValues1{
    color: black;
}

.th1{
    color: #ba181b;
font-weight: bold;
}